@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Body Section
  
========================================================================== */

$primary : #1F9F86;

/*
  Body
-------------------------------------*/
.none {
  display: none;
}
/* --- Dashboard --- */
.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #FFF;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* --- Left --- */
#left {
  flex-basis: 0rem;
  position: absolute;
  padding-right: 40px;
  width: 5rem;
  height: 100%;
  background-color: $primary;
}
/* --- Logo --- */
.logo {
  padding: 25px 0;
  margin-bottom: 100px;
  text-align: center;
  img {
    width: 37px;
  }
}
/* --- Nav --- */
nav {
  li {
    padding: 18px 0;
    text-align: center;
  }
  img {
    width: 20px;
    filter: invert(1);
  }
}
/* --- Logout --- */
.logout {
  position: fixed;
  bottom: 15px;
  width: 5rem;
  text-align: center;
  img {
    width: 28px;
    filter: invert(1);
  }
}
/* --- Center --- */
#center {
  position: relative;
  left: 70px;
  padding: 40px 30px;
  width: 300%;
  background-color: #F1F6F0;
  border-radius: 35px;
}
/* --- Footer --- */
.footer {
  position: fixed;
  bottom: 15px;
  width: 68%;
}
/* --- Sitemap --- */
.sitemap {
  float: left;
  li {
    display: inline-block;
    padding: 0 6px 0 3px;
    border-right: 1px solid #1F9F86;
    &:last-of-type {
      border-right: none;
    }
    a {
      color: #1F9F86;
      line-height: 12px;
    }
  }
}
/* --- Copyright --- */
.copyright {
  float: right;
  color: #1F9F86;
}
/* --- Date --- */
.date {
  float: right;
  padding: 10px 25px;
  color: #000;
  font-weight: 700;
  background-color: #FFF;
  border-radius: 50px;
}
/* --- Right --- */
#right {
  padding-left: 70px;
  width: 100%;
  height: 100%;
}
/* --- User --- */
.user {
  margin-bottom: 20px;
  .detail {
    float: left;
  }
}
.profile_picture {
  float: left;
  img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
}
.biodate {
  float: left;
  padding: 12px 15px;
  .name {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
  }
  .age {
    color: #9FAAB7;
  }
}
/* --- Tribar --- */
.tribar {
  float: right;
  position: relative;
  top: 18px;
  img {
    width: 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
/* --- Detail --- */
.detail {
  .season {
    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
    }
  }
  .inner {
    padding: 0 30px;
    margin-top: 40px;
  }
}
/* --- Statistic --- */
.statistic {
  margin-bottom: 45px;
  ul {
    font-size: 0;
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
  li {
    text-align: center;
    border-right: 1px solid #9FAAB7;
    &:last-of-type {
      border-right: none;
    }
  }
  .category {
    margin-bottom: 3px;
    opacity: .7;
  }
  .value {
    font-weight: 700;
  }
}
/* --- Event Item --- */
.event-item {
  .head {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
  }
  ul {
    height: 500px;
    overflow-y: scroll;
    padding-right: 10px;
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #FFF;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #1F9F86;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: #F5F5F5;
    }
  }
  li {
    background-color: #F0F7EF;
    border-radius: 20px;
    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    padding: 20px 30px;
    align-items: center;
    margin-bottom: 16px;
    zoom: 1;
    &.active{
      color: #FFF;
      cursor: pointer;
      background-color: #1F9F86;
      .icon {
        img {
          filter: invert(1);
        }
      }
      a {
        color: #FFF;
      }
    }
    &:hover {
      color: #FFF;
      cursor: pointer;
      background-color: #1F9F86;
      .icon {
        img {
          filter: invert(1);
        }
      }
      a {
        color: #FFF;
      }
    }
  }
  li:before, li:after {
    display: block;
    content: '';
  }
  li:after {
    clear: both;
  }
  .icon {
    float: left;
    width: 23px;
    margin-top: 2px;
    margin-right: 18px;
  }
  .content {
    float: left;
    .title {
      margin-bottom: 5px;
      a {
        font-size: 16px;
        font-weight: 700;
      }
    }
    .date_event {
      margin-bottom: 5px; 
    }
  }
  time {
    float: right;
    background: #66DCEC;
    border: 2px solid #FEFEFE;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    width: 60px;
    margin-left: 16px;
    padding: 7px 6px;
    text-align: center;
  }
}
/* --- Calendar --- */
#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  margin: 50px auto 0;
  height: 630px;
  overflow: hidden;
  border-radius: 30px;
  background-color: #FFF;
}
.header {
  width: 100%;
  height: 80px;
  background: #FFF;
  text-align: center;
  position:relative;
  z-index: 100;
}
.header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 1px;
}
.left, .right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}
.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
  left: 30px;
}
.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent rgba(160, 159, 160, 1);
  right: 30px;
}
.month {
  /*overflow: hidden;*/
  padding: 20px 0;
  text-align: center;
  opacity: 0;
}
.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}
.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}
.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}
.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}
.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}
.week {
 background: #FFF;
}
.day {
  display: inline-block;
  width: 60px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: #FFF;
  position: relative;
  z-index: 100;
}
.day.other {
 color: rgba(255, 255, 255, .3);
}
.day.today {
  color: rgba(156, 202, 235, 1);
}
.day-name {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #000;
  letter-spacing: .7px;
}
.day-number {
  color: #212121;
  font-size: 24px;
  letter-spacing: 1.5px;
}
.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}
.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}
.blue { background: rgba(156, 202, 235, 1); }
.orange { background: rgba(247, 167, 0, 1); }
.green { background: rgba(153, 198, 109, 1); }
.yellow { background: rgba(249, 233, 0, 1); }
.details {
  position: relative;
  width: 100%;
  height: 75px;
  background: $primary;
  margin-top: 5px;
  border-radius: 50px;
}
.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}
.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}
.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: 8px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent $primary transparent;
  transition: all 0.7s ease;
}
.events {
  height: 75px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.events.in {
  -webkit-animation: fadeIn .3s ease both;
  -moz-animation: fadeIn .3s ease both;
  animation: fadeIn .3s ease both;
}
.events.in {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}
.details.out .events {
  -webkit-animation: fadeOutShrink .4s ease both;
  -moz-animation: fadeOutShink .4s ease both;
  animation: fadeOutShink .4s ease both;
}
.events.out {
  -webkit-animation: fadeOut .3s ease both;
  -moz-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}
.event {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}
.event.empty {
  color: #eee;
}
.event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}
.event span {
  display: inline-block;
  color: #FFF;
  padding: 0 0 0 7px;
}
.legend {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  height: auto;
  background: #FFF;
  line-height: 30px;
  text-align: center;
}
.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}
.entry:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}
.entry.blue:after { background: rgba(156, 202, 235, 1); }
.entry.orange:after { background: rgba(247, 167, 0, 1); }
.entry.green:after { background: rgba(153, 198, 109, 1); }
.entry.yellow:after { background: rgba(249, 233, 0, 1); }
/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; transform: translateY(-100%); }
}
@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0px; transform: translateY(-100%); }
}
@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}
@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}
@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}