@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Footer Section
  
========================================================================== */

/*
  Footer
-------------------------------------*/
footer {
  width: 100%;
  height: 380px;
  bottom: -380px;
  background-image: linear-gradient(#499AE8, #1B4DA6);
  z-index: -1;
  .container {
    position: relative;
    top: 55px;
  }
}
.nav-footer, .contributor, .sitemap, .copyright {
  border-top: 1px solid #51AAF4;
  box-shadow: 0 -1px 0 #FFF;
}

/* --- Logo Footer --- */
.logo-footer {
  margin-bottom: 10px;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 700;
}
/* --- Nav Footer --- */
.nav-footer {
  li {
    display: inline-block;
    padding: 20px 0;
    padding-right: 30px;
    a {
      color: #FFFFFF;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
/* --- Contributor --- */
.contributor {
  padding: 15px 0;
  font-size: 12px;
  .col-md-2 {
    max-height: 54px;
    margin-bottom: 15px;
  }
  .column {
    margin-top: 8px;
  }
  .head {
    color: #51AAF4;
    padding-bottom: 4px;
  }
  .name {
    color: #FFFFFF;
  }
}
/* --- Sitemap --- */
.sitemap {
  padding: 15px 0;
  .col-md-2 {
    margin-bottom: 8px;
  }
  .head {
    color: #999;
  }
  ul {
    margin: 0;
  }
  a {
    color: #FFFFFF;
  }
}
/* --- Copyright --- */
.copyright {
  padding-top: 18px;
  color: #FFFFFF;
  font-size: 12px;
  .privacy {
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
      padding: 0 8px;
      line-height: 0;
      &:first-of-type {
        border-right: 1px solid #FFFFFF;
      }
    }
  }
  a {
    color: #FFFFFF;
  }
}
.copyright-author  {
  opacity: .03;
}