@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Header Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

/*
  Header
-------------------------------------*/
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  border-color: transparent;
  z-index: 1030;
  &.detail {
    background-color: #FFF;
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    .sosmed {
      li {
        a {
          color: #4A4A4A !important;
        }
      }
    }
  }
}
.sticky {
  background-color: #FFF;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
}
.darkcolor {
  color: #4A4A4A !important;
}

/* --- Logo --- */
.logo {
  display: inline-block;
  padding: 12.5px 0;
  color: #51AAF4;
  font-size: 1.4rem;
  font-weight: 600;
}

/* --- Nav --- */
.sosmed {
  padding: 31px 0;
  li {
    display: inline-block;
    padding: 0 15px;
    a {
      color: #F3F4FA;
    }
  }
}

/* --- Slicknav --- */
.slicknav {
  display: none;
   a {
    color: #E5E6EB;
   }
}