@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Media Query for HDPI (width 1083px-1290px) Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

/*
  Body
-------------------------------------*/
.column-big {
  width: 775px;
}
/* --- 
Leftbar
--- */
.leftbar {
  width: 195px;
  margin-right: 25px;
  .title-gensindo {
    width: 208px;
  }
}
/* ---Category --- */
.category {
  li {
    width: 195px;
  }
}
/* --- Trending --- */
.trending {
  ul {
    width: 195px;
  }
}

/* --- 
Center
--- */
.center {
  width: 545px;
  margin-bottom: 50px;
}
/* --- Tab --- */
.tabs {
  a {
    padding: 0 15px;
  }
}

/* --- 
Rightbar
--- */
.rightbar {
  width: 260px;
  .title-gensindo {
    width: 280px;
  }
  .r-side {
    img {
      width: 100%;
    }
  }
}
/* --- Agenda --- */
.agenda {
  .text {
    width: 170px;
  }
  .btn-more {
    width: 260px;
  }
}
/* --- Promoted --- */
.promoted {
  img {
    width: 100%;
  }
}
/* --- Our Page --- */
.our-page {
  img {
    zoom: .8;
  }
}
/* --- Sitemap --- */
.sitemap {
  li {
    padding: 0 5px 0 0px;
  }
}
/* --- Copyright --- */
.copyright {
  .text {
    width: 160px;
  }
}