@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Media Query for SDPI (width 769px-992px) Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

/*
  Header
-------------------------------------*/
nav {
  position: fixed;
  width: 100%;
  background-image: none;
  box-shadow: none;
  background-color: #FFF;
  border-bottom: 1px solid #DCDCDC;
}
/* --- Slicknav --- */
.slicknav {
  display: inline-block;
  margin: 0 20px 0 15px;
}
/* --- Slidenav --- */
.slidenav {
  margin: 0;
  .sidenav {
    background-color: #FFF;
  }
  .user-view {
    margin-bottom: 30px;
  }
  li {
    &.active {
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      background-color: #FCE8E7;
      a {
        color: #DC4A44;
      }
    }
    &:hover {
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      background-color: #FCE8E7;
      a {
        color: #DC4A44;
      }
    }
    a {
      color: #000;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
/* --- Logo --- */
.logo {
  padding: 12px 0 8px;
  img {
    zoom: .7;
  }
}
/* --- Sosmed --- */
.sosmed {
  display: none;
}

/*
  Body
-------------------------------------*/
/* --- Event --- */
#detail {
  margin-top: 0;
}