@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Media Query for MDPI (width 993px-1082px) Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

/*
  Body
-------------------------------------*/
.column-big {
  width: 635px;
}
/* --- 
Leftbar
--- */
.leftbar {
  width: 155px;
  margin-right: 25px;
  .title-gensindo {
    width: 170px;
  }
  .r-side {
    img {
      zoom: .7;
    }
  }
}
/* --- Title Gensindo --- */
.title-gensindo {
  padding: 3px 0 3px 10px;
  font-size: 16px;
}
/* --- Trending --- */
.trending {
  ul {
    width: 159px;
  }
  li {
    padding: 15px 10px;
  }
}
/* ---Category --- */
.category {
  li {
    width: 155px;
  }
}

/* --- 
Center
--- */
.center {
  width: 455px;
  margin-bottom: 50px;
}
/* --- Tab --- */
.tabs {
  a {
    padding: 0 8px;
  }
}
/* --- Topic --- */
.topic {
  .head {
    font-size: 20px;
  }
  li {
    .title {
      a {
        font-size: 14px;
      }
    }
  }
}

/* --- 
Rightbar
--- */
.rightbar {
  width: 190px;
  .title-gensindo {
    width: 203px;
  }
  .r-side {
    img {
      width: 100%;
    }
  }
}
/* --- Agenda --- */
.agenda {
  .icon {
    margin: 15px;
    img {
      zoom: .6;
    }
  }
  .text {
    width: 130px;
    font-size: 12px;
    time {
      font-size: 12px;
    }
    .title {
      a {
        font-size: 14px;
      }
    }
  }
  .btn-more {
    width: 190px;
    font-size: 14px;
  }
}
/* --- Promoted --- */
.promoted {
  img {
    width: 100%;
  }
}
/* --- Our Page --- */
.our-page {
  .title {
    display: block;
    font-size: 14px;
  }
  img {
    zoom: .8;
  }
}
/* --- Sitemap --- */
.sitemap {
  li {
    padding: 0 5px 0 0px;
  }
}
/* --- Copyright --- */
.copyright {
  .text {
    width: 160px;
  }
  .mnc-logo, .text {
    float: none !important;
    width: 100%;
    text-align: center;
  }
}