@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Media Query for Mobile (min width 769px) Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

.pull-left, .pull-right {
  float: none !important;
}

/*
  Header
-------------------------------------*/
header {
  height: 50px;
  background-color: #FFF;
  z-index: 99;
}
/* --- Slicknav --- */
.slicknav {
  position: relative;
  top: 5px;
  display: inline-block;
  margin: 0 20px 0 15px;
}
/* --- Slidenav --- */
.slidenav {
  margin: 0;
  .nonactive {
    display: none;
  }
  .sidenav {
    background-color: #FFF;
  }
  .user-view {
    margin-bottom: 30px;
  }
  li {
    &.active {
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      background-color: #C5DBFD;
      a {
        color: #7bb8fa;
      }
    }
    &:hover {
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      background-color: #C5DBFD;
      a {
        color: #7bb8fa;
      }
    }
    a {
      color: #000;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
/* --- Logo --- */
.logo {
  position: relative;
  top: 15px;
  padding: 0;
  zoom: .63;
}
/* --- Sosmed --- */
.sosmed {
  display: none;
}

/*
  Body
-------------------------------------*/
main {
  padding-top: 0px;
}
/* --- Mainvisual --- */
#mainvisual {
  height: 60vh;
  min-height: 500px;
  .container {
    .tagline {
      .caption {
        .subcaption {
          width: 100%;
        }
      }
      .image {
        display: none;
      }
    }
  }
}
/* --- Event --- */
#event {
  margin-top: 70px;
  #head {
    width: 80px;
    margin: 0 auto 30px;
    font-size: 2rem;
  }
  .item {
    .inner {
      -webkit-box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.08);
      box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.08);
      background-color: #fff;
      border-radius: 4px;
    }
    .col-md-2 {
      margin-bottom: 20px;
    }
    .month {
      margin: 0;
      font-size: 1.2rem;
    }
    .date {
      font-size: 1.2rem;
    }
  }
  .btn-more {
    margin-top: 30px;
  }
}
/* --- Event --- */
#detail {
  margin-top: 0;
  .col-md-2 {
    margin-bottom: 30px;
    padding: 9px 0;
    width: 220px;
    margin: 0 auto 30px;
    background-color: #7bb8fa;
    border-radius: 50px;
    .month {
      color: #FFF;
      font-size: 20px;
    }
    .date {
      color: #FFF;
      font-size: 20px;
    }
  }
  .col-md-7 {
    padding: 0 20px;
    margin-bottom: 60px;
    .title {
      font-size: 24px;
    }
  }
  .col-md-3 {
    padding: 0 20px;
  }
}
/* --- Banner --- */
#banner {
  padding: 39px 0 60px;
  .tagline {
    font-size: 2.2rem;
  }
  .more {
    top: 18px;
    width: 160px;
    padding: 9px 5px;
    margin: 0 auto;
  }
}
/*
  Footer
-------------------------------------*/
footer {
  height: 575px;
}
/* --- Logo Footer --- */
.logo-footer {
  text-align: center;
}
/* --- Nav Footer --- */
.nav-footer {
  text-align: center;
}
/* --- Contributor --- */
.contributor {
  padding: 15px 20px;
  .col-md-2 {
    float: left;
    width: 50%;
  }
}
/* --- Copyright --- */
.copyright {
  text-align: center;
}
.privacy {
  margin-top: 7px;
}